header.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  width: 85%;
  max-width: 1100px;
  height: 85px;
}

#home_link {
  text-decoration: none;
  /* display: flex; */
  align-items: center;
  color: var(--white);
}

.logo_container #logo {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 3.5rem;
  color: var(--base-color);
}

.logo_container p {
  font-size: 2.7rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
}

.main-nav ul li {
  /* padding: 0rem 1.4rem; */
  font-size: 0.75rem;
}

li a {
  text-decoration: none;
  color: var(--white);
  transition: 0.4s ease;
}

li a:hover {
  color: var(--base-color);
}

#download_cv {
  border: none;
  background-color: var(--base-color);
  border-radius: 1.5rem;
  color: var(--white);
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  transition: 0.4s ease;
  box-shadow: 0px 0px 8px var(--shadow);
  font-size: 0.85rem;
  display: none;
}

@media screen and (min-width: 768px) {
  #download_cv {
    display: block;
  }
}

#download_cv:hover {
  background-color: var(--card-background);
  color: var(--base-color);
}

/* togle nav */
.toggle-nav {
  width: 50px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: flex-end;
  position: absolute;
  z-index: 20;
  border-radius: 50%;
  right: 7.5%;
  top: 50px;
  transition: 0.2s ease;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.toggle-nav .a {
  width: 85%;
  height: 3px;
  background-color: var(--white);
  transition: 0.5s ease;
}

.cross.toggle-nav .a {
  transform: rotate(45deg) translate(10px, 6px);
}

.toggle-nav .b {
  width: 65%;
  height: 4px;
  background-color: var(--white);
  transition: 0.5s ease;
}

.cross.toggle-nav .b {
  opacity: 0;
}

.toggle-nav .c {
  width: 85%;
  height: 3px;
  background-color: var(--white);
  transition: 0.5s ease;
}

.cross.toggle-nav .c {
  transform: rotate(-45deg) translate(10px, -6px);
}

@media screen and (max-width: 768px) {
  .toggle-nav {
    display: flex;
  }
}

@media screen and (max-width: 420px) {
  .logo_container #logo {
    font-size: 2.8rem;
  }

  .logo_container p {
    font-size: 2.6rem;
  }

  #download_cv {
    font-size: 0.6rem;
    padding: 0.75rem 1.2rem;
  }
}

@keyframes opacityAnime {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
