.left_intro_container {
  flex-basis: 60%;
}

#intro_greeting {
  font-size: 1.7rem;
}

#intro_greeting span {
  color: var(--base-color);
}

#intro_name {
  font-weight: bold;
  font-size: 4.5rem;
  /* font-size: 3.5rem; */
  overflow: hidden;
}

#intro_name span {
  display: block;
  transform: translateX(-100%);
  /* animation: slide-from-left 0.8s linear 0s 1 normal forwards; */
  animation: slide-from-left 0.3s linear 0s 1 normal forwards;
}

@keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#intro_jobrole {
  font-size: 2.2rem;
  font-weight: lighter;
}

#intro_jobrole span {
  background-color: transparent;
  display: block;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  /* animation: rotate-in 0.8s linear 0.8s 1 normal forwards; */
  animation: rotate-in 0.3s linear 0.3s 1 normal forwards;
}

@keyframes rotate-in {
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#intro_description {
  font-size: 0.85rem;
  font-weight: lighter;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  overflow: hidden;
  max-width: 500px;
}

#intro_description span {
  display: block;
  transform: translateY(-100%);
  /* animation: slide-from-top 0.8s ease 1.6s 1 normal forwards; */
  animation: slide-from-top 0.4s ease 0.6s 1 normal forwards;
}

@keyframes slide-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.connect p {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: lighter;
  margin-top: 2rem;
}

.socials {
  display: flex;
  margin-top: 1rem;
}

.socials a {
  aspect-ratio: 1;
  align-items: center;
  background-color: var(--black);
  border-radius: 0.4rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  text-decoration: none;
  width: 60px;
  transition: 0.4s ease;
}

.socials a:hover {
  background-color: var(--base-color);
}

#intro_footer {
  display: flex;
  margin-top: 2rem;
}

#experience {
  margin-right: 2rem;
}

.number {
  font-size: 2.2rem;
  font-weight: 500;
}

.text {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.9rem;
}

@media screen and (max-width: 992px) {
  #intro_name {
    font-size: 3.2rem;
  }

  #intro_jobrole {
    font-size: 1.8rem;
    font-weight: lighter;
  }

  #intro_description {
    font-size: 0.75rem;
  }

  .left_intro_container {
    flex-basis: 55%;
  }
}

@media screen and (max-width: 778px) {
  .left_intro_container {
    flex-basis: 100%;
    text-align: center;
  }

  #intro_description {
    max-width: 500px;
    margin: 1rem auto;
  }

  .socials {
    justify-content: center;
  }

  #intro_footer {
    justify-content: center;
  }

  .socials a {
    width: 45px;
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 420px) {
  #intro_name {
    font-size: 2.5rem;
  }

  #intro_jobrole {
    font-size: 1.4rem;
    font-weight: lighter;
  }

  #intro_description {
    font-size: 0.75rem;
  }

  .number {
    font-size: 2rem;
  }

  .text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 340px) {
  #intro_name {
    font-size: 2rem;
  }

  #intro_jobrole {
    font-size: 1.2rem;
    font-weight: lighter;
  }

  #intro_description {
    font-size: 0.75rem;
  }

  .number {
    font-size: 2rem;
  }

  .text {
    font-size: 0.75rem;
  }
}
