.right_intro_container {
  flex-basis: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 550px;
}

.background {
  background-color: var(--shadow);
  height: 400px;
  border-radius: 0.5rem;
  position: relative;
  width: 80%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.right_intro_container img {
  width: 110%;
  height: 500px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 992px) {
  .right_intro_container {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 778px) {
  .right_intro_container {
    /* flex-basis: 80%; */
    flex-basis: 90%;
    margin: auto;
  }

  .right_intro_container img {
    width: 105%;
  }

  .background {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .right_intro_container {
    flex-basis: 100%;
    margin: auto;
    height: 450px;
  }
  .right_intro_container img {
    width: 110%;
    height: 400px;
  }

  .background {
    width: 90%;
  }
}
