* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #24282c;
  --base-color: #f8043d;
  --white: #e8f0e8;
  --shadow: #181d28;
  --black: #181a25;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--main-background);
  font-family: "Poppins", sans-serif;
  /* font-family: "Rubik Puddles", cursive; */
  color: var(--white);
}

/* #root {
  width: 90%;
  max-width: 1100px;
  margin: auto;
} */
