* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #24282c;
  --base-color: #f8043d;
  --base-color-dimmed: rgb(246 4 60 / 30%);
  --white: #e8f0e8;
  --shadow: #181d28;
  --black: #181a25;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--main-background);
  font-family: "Poppins", sans-serif;
  /* font-family: "Rubik Puddles", cursive; */
  color: var(--white);
}

/* #root {
  width: 90%;
  max-width: 1100px;
  margin: auto;
} */

@media screen and (min-width: 600px) {
  #langName {
    font-size: 0.75rem !important;
  }
}

@keyframes scaling {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.spinner-3 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--base-color);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.classic-4 {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: c4 1s steps(4) infinite;
}

.classic-4::before {
  content: "Sending...";
  color: var(--base-color);
}

@keyframes c4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
