@tailwind base;
@tailwind components;
@tailwind utilities;

.satisfy-regular {
  font-family: "Satisfy", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fade-in {
  animation: fadeIn 1.4s ease 2s 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.opacityToggler.story-card {
  opacity: 1 !important;
  transform: scale(1) !important;
}

@media screen and (max-width: 1024px) {
  .story-card:nth-child(2n) {
    grid-column: 1 / -1;
  }

  .story-card:nth-child(2n-1) {
    grid-column: 1 / span 2 !important;
  }
}

@media screen and (max-width: 768px) {
  .story-card {
    grid-column: 1 / -1 !important;
  }
}

@media screen and (max-width: 1024px) {
  .employment-details-container {
    grid-template-columns: 1fr !important;
  }
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.rubik {
  font-family: "Rubik Wet Paint", cursive;
}
